@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.statisticGenerationWrapper {
  @include flex(column, center, center);
  margin-bottom: 3em;
  padding: 0 1.5em;
}
.statisticGenerationTitle {
  color: $fourth-color;
  font-size: 0.8em;
  margin-bottom: 1em;
  text-align: center;
}